/* Header */
@import "/css/header/header.css";
@import "/css/header/header-pg.css";

/* Introducao */
@import "/css/introducao/introducao.css";
@import "/css/introducao/introducaodona.css";
@import "/css/introducao/introducaocon.css";

/* Servicos */
@import "/css/servicos/servico.css";
@import "/css/servicos/terrenos.css";

/* Duvidas */
@import "/css/duvidas/duvidas.css";

/* Contato */
@import "/css/contato/contato.css";

/* Localizacao */
@import "/css/localizacao/localizacao.css";

/* Rodape */
@import "/css/rodape/rodape.css";

/* Global */
@import "/css/global/global.css";
@import "/css/global/termos.css";
