.header-bg {
  background-color: #2a6041;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: regular;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

.header img {
  height: 120px;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #4a9268;
    font-size: 14px;
  }

  .header-menu a:hover {
    background-color: #8fcb9b;
  }

  .header a:after {
    display: none;
  }

  .header img {
    height: 80px;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 12px;
  }
}
