#contato {
  background: linear-gradient(#111111 500px, #ffffff 0px);
}

.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.titulo p {
  color: #525252;
  font-size: 20px;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
}

.titulo h1 {
  margin-bottom: 40px;
  font-size: 48px;
  font-family: "Playfair Display";
  color: #ffffff;
}

.titulo span {
  color: #8fcb9b;
}

.contato-dados,
.contato-formulario {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
  border-radius: 5px 0 0 5px;
  background: #2a6041;
}

.contato-formulario {
  border-radius: 0 5px 5px 0;
  background: #ffffff;
}

.contato-dados h2 {
  margin-bottom: 60px;
  font-family: "Open Sans";
  color: #ffffff;
  font-size: 16px;
}

.contato-endereco {
  margin-bottom: 32px;
  padding-left: 28px;
  background: url("/img/local\ 1.svg") no-repeat 0px -1px;
}

.contato-endereco p {
  margin-bottom: 8px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
}

.contato-meios a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
  color: #b4b4b4;
  font-family: "Open Sans";
  font-size: 14px;
}

.contato-meios a:hover {
  color: #ffffff;
}

.contato-meios a:first-child {
  background: url("/img/email\ 1.svg") no-repeat 0px -1px;
}

.contato-meios a:nth-child(2) {
  margin-bottom: 32px;
}

.contato-meios a:nth-child(3) {
  background: url("/img/telefone\ 1.svg") no-repeat 0px 2px;
  margin-bottom: 60px;
}

.contato-redes {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form label {
  display: block;
  font: 400 1rem/1.5 "Open Sans";
  margin-bottom: 4px;
}

.form .col-2 {
  grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  border: 1px solid #dbdbdb;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border-color: #dbdbdb;
  background: #ffffff;
  box-shadow: 0 0 0 2px #8fcb9b;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#2a6041, #8fcb9b);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #111111;
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background: linear-gradient(#214832, #88bd93);
}

@media (max-width: 800px) {
  #contato {
    background: linear-gradient(#111111 700px, #ffffff 0px);
  }
  .contato {
    grid-template-columns: 1fr;
  }
  .contato-dados,
  .contato-formulario {
    padding: 20px;
  }
  .contato-dados {
    border-radius: 5px 5px 0 0;
  }
  .contato-formulario {
    border-radius: 0 0 5px 5px;
  }
  .contato-dados h2,
  .contato-meios a:nth-child(3) {
    margin-bottom: 32px;
  }
  .contato-redes {
    margin-bottom: 12px;
  }
  .titulo h1 {
    font-size: 32px;
  }
  .titulo p {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
  .form .col-2 {
    grid-column: 1;
  }
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}
