body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
p,
ul,
li,
a,
span,
dd,
dt {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
}

.termos {
  padding-top: 80px;
  padding-bottom: 80px;
}

.termos h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.termos p + h2 {
  margin-top: 40px;
}

.termos p {
  max-width: 75ch;
  margin-bottom: 24px;
}
