#donabrida .introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  padding-top: 100px;
}

#donabrida .introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

#donabrida .introducao img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

#donabrida .introducao h1 {
  margin-bottom: 32px;
  font-family: "Playfair Display";
  font-size: 48px;
}

#donabrida .introducao p {
  margin-bottom: 32px;
  color: #000000;
  font-family: "Open Sans";
}

#donabrida .introducao span {
  color: #8fcb9b;
}

@media (max-width: 800px) {
  #donabrida .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  #donabrida .introducao-conteudo {
    padding-bottom: 0px;
  }

  #donabrida .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }

  #donabrida .introducao img {
    height: 300px;
    width: 100%;
  }
}
