.duvidas {
  padding-top: 0px;
  padding-bottom: 120px;
}

.duvidas h2 {
  margin-bottom: 40px;
  font-family: "Playfair Display";
  font-size: 48px;
}

.duvidas span {
  color: #8fcb9b;
}

.duvidas dl > div {
  padding-top: 20px;
  border-radius: 4px;
}

.duvidas dt {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
}

.duvidas dt::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: #8fcb9b;
}

.duvidas dt::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url("../../img/seta-abrir.svg");
  transition: 0.3s;
}

.duvidas dt:hover::after {
  transform: rotate(180deg);
}

.duvidas dd {
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
  font-family: "Open Sans";
  font-size: 14px;
}

@media (max-width: 800px) {
  .duvidas {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .duvidas h2 {
    margin-bottom: 40px;
    font-size: 32px;
  }
}
