.perguntas {
  padding-top: 0px;
  padding-bottom: 120px;
}

.perguntas h2 {
  margin-bottom: 40px;
  font-family: "Playfair Display";
  font-size: 48px;
}

.perguntas span {
  color: #8fcb9b;
}

.perguntas dl > div {
  padding-top: 20px;
  border-radius: 4px;
}

.perguntas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.perguntas button::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  background-color: #8fcb9b;
}

.perguntas button::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background: url("../../img/seta-abrir.svg");
  transition: 0.3s;
}

.perguntas button:active::after,
.perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.js .perguntas dd {
  display: none;
}

.js .perguntas dd.ativa {
  display: block;
}

.perguntas dd {
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
  font-family: "Open Sans";
  font-size: 14px;
}

@media (max-width: 800px) {
  .perguntas {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .perguntas h2 {
    margin-bottom: 40px;
    font-size: 32px;
  }
}
