.footer-bg {
  margin-top: 120px;
  background-color: #2a6041;
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer img {
  width: 100px;
}

.footer h3 {
  margin-bottom: 32px;
  color: #ffffff;
  font-size: 24px;
  font-family: "Playfair Display";
  text-transform: uppercase;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer-contato li {
  color: #ffffff;
  font-size: 14px;
  font-family: "Open Sans";
}

.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background: #38664c;
  margin-bottom: 16px;
  margin-top: 10px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer-redes img {
  height: 40px;
  width: 40px;
}

.footer a {
  color: #b4b4b4;
  font-family: "Open Sans";
  font-size: 14px;
}

.footer-informacoes a {
  text-transform: uppercase;
}

.footer a:hover {
  color: #ffffff;
}

.footer p {
  color: #919191;
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: 40px;
}

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .footer-copy {
    margin-top: 0px;
  }
}
