.terreno-section {
  position: relative;
  margin: 0 auto;
}

.terreno-slider {
  display: flex !important;
  flex-wrap: nowrap !important;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 30px;
  width: 80%;
}

.terreno-slider::-webkit-scrollbar {
  display: none;
}

.terreno-slider li {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

.terreno-slider img {
  height: 300px;
  width: 500px;
  display: block;
  border-radius: 4px;
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 80px;
  cursor: pointer;
  color: #999;
  transition: 0.2s;
}

.seta:hover {
  color: #000;
}

.seta.left {
  left: 20px;
}

.seta.right {
  right: 20px;
}

.terreno-lista-dn {
  padding-top: 120px;
  padding-bottom: 120px;
}
.terreno-lista-dn ul {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  padding: 0px 20px 20px 0px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.terreno-lista h2 {
  margin-bottom: 40px;
  font-size: 48px;
  font-family: "Playfair Display";
}

.terreno-lista span {
  color: #8fcb9b;
}

.terreno-bt {
  display: flex;
  justify-content: center;
}

.terreno-bt a {
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin-top: 20px;
  background: linear-gradient(180deg, #47654d 0%, #8fcb9b 100%);
  padding: 12px 24px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  transition: 0.3s ease;
}

.terreno-bt a:hover {
  background: linear-gradient(
    180deg,
    #3b5440 0%,
    #75b789 100%
  ); /* mais escuro */
}

.terreno-lista-cd {
  padding-top: 60px;
  padding-bottom: 120px;
}

.terreno-lista-cd ul {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  padding: 0px 20px 20px 0px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

@media (max-width: 800px) {
  .terreno-lista-dn,
  .terreno-lista-cd {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .terreno-lista-dn ul,
  .terreno-lista-cd ul {
    gap: 20px;
  }

  .terreno-lista-dn img,
  .terreno-lista-cd img {
    height: 300px;
  }

  .terreno-lista h2 {
    font-size: 32px;
  }

  .terreno-lista h3 {
    font-size: 16px;
  }

  .terreno-slider {
    gap: 0 !important;
    padding: 0 0 0 20px !important;
  }

  .terreno-slider li {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    padding-right: 20px;
  }

  .terreno-slider img {
    height: 240px !important;
    width: 100% !important;
    object-fit: cover;
  }

  .seta {
    font-size: 45px !important;
    top: 50% !important;
  }

  .seta.left {
    left: 0px !important;
  }

  .seta.right {
    right: 0px !important;
  }
}

@media (max-width: 500px) {
  .terreno-slider li {
    flex: 0 0 90% !important;
    max-width: 90% !important;
  }

  .terreno-slider img {
    height: 200px !important;
  }

  .seta {
    font-size: 36px !important;
  }
}
