#donabrida .servicos-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

#donabrida .servicos-lista h2 {
  margin-bottom: 40px;
  font-size: 48px;
  font-family: "Playfair Display";
}

#donabrida .servicos-lista span {
  color: #8fcb9b;
}

#donabrida .servicos-lista ul {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  padding: 0px 20px 20px 0px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

#donabrida .servicos-lista li {
  flex: 1;
  min-width: 280px;
}

#donabrida .servicos-lista a {
  display: block;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: regular;
  color: #000000;
}

#donabrida .servicos-lista img {
  margin-bottom: 16px;
  height: 400px;
  border-radius: 4px;
}

#condominio .servicos-lista img {
  margin-bottom: 16px;
  height: 400px;
  border-radius: 4px;
}

#donabrida .servicos-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: "Open Sans";
  font-size: 20px;
}

#donabrida .servicos-lista h3::before {
  content: "";
  display: inline-block;
  background-color: #8fcb9b;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  transition: width 0.2s;
}

#donabrida .servicos-lista a:hover h3::before {
  width: 24px;
}

@media (max-width: 800px) {
  #donabrida .servicos-lista {
    padding-bottom: 60px;
  }

  #donabrida .servicos-lista ul {
    gap: 20px;
  }

  #donabrida .servicos-lista img {
    height: 300px;
  }

  #donabrida .servicos-lista h2 {
    font-size: 32px;
  }

  #donabrida .servicos-lista h3 {
    font-size: 16px;
  }
}
